<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <a href="https://collegiumwitelona.pl/" rel="noopener noreferrer">
                <img src="/img/common/main-logo2.svg" alt="Collegium Witelona" class="footer-logo" />
            </a>
        </div>
        <div class="footer-section">
            <span>© 2025 Wykonali: <a href="/realization">Link</a></span>
        </div>
    </div>
</footer>