<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>

    <%- body %>

    <%- include('../partials/footer') %>

    <script src="/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>