@use 'variables' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "proxima-nova";
  background-color: $white;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: $transition-standard;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}