<section class="hero-section text-center">

    <div class="container">
        <h1 class="display-4"></h1>
    </div>

</section>

<main class="container mt-5">

    <div class="row">
        <div class="col-md-6">
            <h1>Kontakt do nas: </h1>
            <br>
            <br>
            <p>
                Mieścimy się w Budynku C:
                <ul>
                    <li>Koło gier - nie pamiętam</li>
                    <li>Koło Druku 3D - C311</li>
                </ul>
            </p>

            <h2>Kontakt do najważniejszych osób:</h2>
            <ul>
                <li><a href="mailto:aleksander.klosow@collegiumwitelona.pl">dr. Aleksander Klosow - opiekun koła</a></li>
                <li><a href="mailto:ewa.kubera@studenci.collegiumwitelona.pl">Ewa Kubera - przewodnicząca sekcji Gier</a></li>
                <li><a href="mailto:"> - przewodnicząca sekcji VR</a></li>
                <li><a href="mailto:">- przewodnicząca sekcji druku 3D</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="contact-section">
                <h2>Nasza lokalizacja</h2>
                <div id="map"></div>
            </div>
        </div>
    </div>

</main>