@use '../base/variables' as *;
@use '../base/mixins' as *;

.btn-primary {
  background-color: $primary-darkest !important;
  border-color: $primary !important;
  color: $white;
  transition: $transition-standard;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow-standard;
  }

  &:active {
    background-color: $primary-dark !important;
    transform: translateY(0);
  }

  @include media-breakpoint-down(md) {
    margin: 5px;
    width: 100%;
  }
}

.social-links {
  a {
    transition: $transition-standard;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
  }
}